.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: red
}
.Carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;

background: red}